body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #DAD7CD;
    background-repeat: repeat;
    color: #344E41;
}


body.dark-mode {
    background-color: #080c0e;
    color: #ffffff;
}

body.pastel-mode {
    background-color: #fcd5ce;
    color: #333;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.tabs button {
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.tab-content {
    display: none;
    width: 100%;
    max-width: 1000px;
}

.tab-content.active {
    display: block;
}

.container {
    position: relative;
}

.toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

button#toggle-mode {
    font-size: 14px;
    background-color: #334857;
    border: none;
    color: #f7f7f2;
    border-radius: 20px;
    padding: 8px 12px;
}

.calculator, .portfolio-item {
    background: #A3B18A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

input, button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #3A5A40;
    color: #ffffff;
}

button:hover {
    background-color: #588157;
}

#home .container {
    text-align: center;
}

.calculator.dark-mode, .portfolio-item.dark-mode {
    background: #11181d;
}

input.dark-mode {
    border: 1px solid #555;
    background-color: #22303a;
    color: #ffffff;
}

button.dark-mode {
    background-color: #334857;
}

button.dark-mode:hover {
    background-color: #446074;
}

button#toggle-mode.dark-mode {
    background-color: #ffb5a7;
    color: #ffffff;
}

.calculator.pastel-mode, .portfolio-item.pastel-mode {
    background: #f9dcc4;
}

input.pastel-mode {
    border: 1px solid #f5a6a6;
    background-color: #f8edeb;
    color: #333;
}

button.pastel-mode {
    background-color: #ffb5a7;
}

button.pastel-mode:hover {
    background-color: #fec89a;
}

button#toggle-mode.pastel-mode {
    background-color: #3A5A40;
    color: #ffffff;
}
