body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('images/background-claro.png');
    background-repeat: repeat;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}

body.dark-mode {
    background-color: #181818;
    color: #fff;
    background-image: url('images/background-oscuro.png');
}

body.pastel-mode {
    background-color: #f7d8d1; /* Color de fondo pastel */
    color: #333; /* Color de texto en modo pastel */
}

.container {
    position: relative;
    max-width: 1000px;
    width: 100%;
}

.calculator {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 10px 0;
}

input {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2d862d;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #66cc66;
}

.pestanas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.pestana {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pestana.active {
    background-color: #2d862d;
    color: white;
}

.informacion-cartera {
    margin-top: 20px;
}

.informacion-cartera div {
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
    margin-top: 20px;
}

/* Estilos para modo oscuro */
.calculator.dark-mode {
    background: #242424;
}

input.dark-mode {
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
}

button.dark-mode {
    background-color: #0056b3;
}

button.dark-mode:hover {
    background-color: #004080;
}

/* Estilos para modo pastel */
.calculator.pastel-mode {
    background-color: #fff7d8; /* Color de fondo pastel para el formulario */
}

input.pastel-mode {
    border: 1px solid #ffb3b3; /* Borde pastel */
    background-color: #ffe6e6; /* Fondo de input pastel */
    color: #333; /* Texto en input pastel */
}

button.pastel-mode {
    background-color: #ffb3b3; /* Color de fondo del botón pastel */
}

button.pastel-mode:hover {
    background-color: #ff6666; /* Color de fondo del botón pastel al pasar el cursor */
}
